body {
  font-family: 'Montserrat';
  font-size: 1.2em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: black;
}

@-webkit-keyframes blinker {
  from {opacity: 1.0;}
  78% {opacity:1.0}
  80% {opacity:0.0}
  82% {opacity:1.0}
  to {opacity: 1.0;}
}
img{
  text-decoration: blink;
  -webkit-animation-name: blinker;
  -webkit-animation-duration: 1s;
  -webkit-animation-iteration-count:infinite;
  -webkit-animation-timing-function:ease-in-out;
  -webkit-animation-direction: alternate;
  margin: 40px;
  border: 1px solid #302C2D;
  border-radius: 40px;
}

h1, form, p.error {
  color: white;
}

form, .quiz-form-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

input {
  margin: 1.2em;
  width: 20%;
}

.hidden {
  display:none;
}

h2 {
  text-decoration:  underline;
}

button {
  height: 3em;
  width: 20%;
  font-size: 1.2em;
  border: 1px solid darkgray;
  border-radius: 5px;
  margin: 5px;
  border-collapse: collapse;
}

button:focus {
  outline: none;
}

.question {
  width: 76%;
  height: 50%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 2em;
  padding: 10px;
  padding-bottom: 20px;
  background-color: ivory;
  border-radius: 10px;
  border: 1px solid darkgray;

  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;

  position: absolute;
  left: -100%;
  -webkit-animation: slide 0.5s forwards;
  -webkit-animation-delay: 3s;
  animation: slide 0.5s forwards;
}

@-webkit-keyframes slide {
  100% { left: 11%;}
}
@-webkit-keyframes display-score {
  100% {
    font-size: 2em;
  }
 }

#final {

  -webkit-animation: display-score 0.5s forwards;
  -webkit-animation-delay: 3s;
  animation: display-score 0.5s forwards;
}

.answer {
  width: 100%;
}

.score-container {
  background-color: black;
  color: white;
}

.play-again {
  font-size: 0.5em;
}

.red {
  background-color: red;
}

.green {
  background-color: limegreen;
}

.clicked {
  border: 3px solid black;
}
